OPENAI_API_KEY=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
OPENWEATHER_API_KEY=7fc48d355390dd501686310d0604be52
DJANGO_SECRET_KEY=django-insecure-n50)=w6+=(41yi)0^vcor+9^xgmj5g9ww6_cf!&4$itbqzoo9s
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
